<h2>Lista de Postagens</h2>
<hr>
<a href="/admin/postagens/add">
    <button class="btn btn-success">Novo Post</button>
</a>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4><br>
            <small>{{slug}}</small><br>
            <small>{{descricao}}</small><br>
            <small>{{conteudo}}</small><br>
            <small>{{categoria.nome}}</small><br>
            <small>{{data}}</small><br>
            <br><br>
            <a href="/admin/postagens/edit/{{_id}}">
                <button class="btn btn-success btn-sm">Editar</button>
            </a>
            <form action="/admin/postagens/deletar" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-4">Del</button>
            </form>
        </div>
    </div>
{{else}}
    <h5 class="mt-5">Nenhum Post registrado</h5>
{{/each}}