<div class="jumbotron">
    <h1 class="display-4">Bem vindo ao e-comerce VGK!</h1>
    <p class="lead">Os melhores preços e os melhores produtos em um só lugar!.</p>
    <hr class="my-4">
    <p>Tudo para melhorar seu desempenho nos games!</p>
    <a class="btn btn-primary btn-lg" href="/usuario/registro" role="button">Crie uma conta</a>
</div>
<hr>


<div class="center slider">
    <div>
        <img src="https://images-na.ssl-images-amazon.com/images/I/81qarft2fdL._AC_SL1500_.jpg">
    </div>
    <div>
        <img src="https://images-na.ssl-images-amazon.com/images/I/81qarft2fdL._AC_SL1500_.jpg">
    </div>
    <div>
        <img src="https://images-na.ssl-images-amazon.com/images/I/81qarft2fdL._AC_SL1500_.jpg">
    </div>
    <div>
        <img src="https://images-na.ssl-images-amazon.com/images/I/81qarft2fdL._AC_SL1500_.jpg">
    </div>
    <div>
        <img src="https://images-na.ssl-images-amazon.com/images/I/81qarft2fdL._AC_SL1500_.jpg">
    </div>
    <div>
        <img src="https://images-na.ssl-images-amazon.com/images/I/81qarft2fdL._AC_SL1500_.jpg">
    </div>
    <div>
        <img src="https://images-na.ssl-images-amazon.com/images/I/81qarft2fdL._AC_SL1500_.jpg">
    </div>
    <div>
        <img src="https://images-na.ssl-images-amazon.com/images/I/81qarft2fdL._AC_SL1500_.jpg">
    </div>

</div>

<h2>Nossos produtos:</h2>
<div class="parent">
    {{#each produtos}}
        <div class="card col-md-5 d-inline-block m-2">
            <img class="card-img-top imgProd" src="{{imagem}}" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">{{nome}}</h5>
                <p class="card-text">{{descricao}}</p>
                <span>{{userName}} Qtd: {{quantidade}}</span>
                <br>
                <span>Preço: R${{preco}}</span>

                {{#if user}}
                    <form action="/admin/produtos/deletar" method="POST" class="pb-5">
                        <a href="/admin/produtos/edit/{{_id}}" class="btn btn-primary float-right mr-3 ml-4">Editar</a>
                        <input type="hidden" name="id" value="{{_id}}">
                        <button type="submit" class="btn btn-danger float-right">Del</button>
                    </form>
                {{else}}
                    <button type="button" class="btn btn-success float-right comprar ml-2">
                        <div><i class="fa fa-shopping-cart"></i></div>
                    </button>
                    <button type="button" class="btn btn-success float-right">
                        <div>Comprar agora</div>
                    </button>
                {{/if}}
            </div>
        </div>
    {{else}}
        <h5 class="mt-5">Nenhum produto registrado</h5>
    {{/each}}
</div>
<style>
    .parent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .imgProd {
        min-height: 340px;
        max-height: 340px;
    }
</style>