<br>
<div class="jumbotron">
    <h1 class="display-4">Bem vindo ao e-comerce VGK!</h1>
    <p class="lead">Os melhores preços e os melhores produtos em um só lugar!.</p>
    <hr class="my-4">
    <p>Tudo para melhorar seu desempenho nos games!</p>
    <a class="btn btn-warning btn-lg" href="/usuario/registro" role="button">Crie uma conta</a>
    <a class="btn btn-danger btn-lg" href="/usuario/login" role="button">Faça login</a>
</div>
<hr>

<div class="sliderParent">
    <div class="center slider">
        <div>
            <img src="https://images-na.ssl-images-amazon.com/images/I/81qarft2fdL._AC_SL1500_.jpg">
        </div>
        <div>
            <img src="https://images-na.ssl-images-amazon.com/images/I/81qarft2fdL._AC_SL1500_.jpg">
        </div>
        <div>
            <img src="https://images-na.ssl-images-amazon.com/images/I/81qarft2fdL._AC_SL1500_.jpg">
        </div>
        <div>
            <img src="https://images-na.ssl-images-amazon.com/images/I/81qarft2fdL._AC_SL1500_.jpg">
        </div>
        <div>
            <img src="https://images-na.ssl-images-amazon.com/images/I/81qarft2fdL._AC_SL1500_.jpg">
        </div>
        <div>
            <img src="https://images-na.ssl-images-amazon.com/images/I/81qarft2fdL._AC_SL1500_.jpg">
        </div>
        <div>
            <img src="https://images-na.ssl-images-amazon.com/images/I/81qarft2fdL._AC_SL1500_.jpg">
        </div>
        <div>
            <img src="https://images-na.ssl-images-amazon.com/images/I/81qarft2fdL._AC_SL1500_.jpg">
        </div>
    </div>
</div>

<h2>Nossos produtos:</h2>
<div class="categoriaslateral mt-1 ml-5 d-inline-block">
    <br>
    <span class="title">Categorias</span>

    {{#each categorias}}
        <hr>
        <a href="/categorias/{{slug}}"style="text-decoration: none; cursor:pointer; color:#d91300; font-size: 20px;">
        {{nome}}
    </a>
    {{else}}
    {{/each}}
    <br>
    <br>
</div>
<div class="parent">
    {{#each produtos}}
        <div class="card col-md-5 d-inline-block m-2">
            <img class="card-img-top imgProd" src="{{imagem}}" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">{{nome}}</h5>
                <p class="card-text">{{descricao}}</p>
                <span>{{userName}} Qtd: {{quantidade}}</span>
                <br>
                <span>Preço: R${{preco}}</span>

                {{#if user}}
                    <form action="/admin/produtos/deletar" method="POST" class="pb-5">
                        <a href="/admin/produtos/edit/{{_id}}" class="btn btn-primary float-right mr-3 ml-4">Editar</a>
                        <input type="hidden" name="id" value="{{_id}}">
                        <button type="submit" class="btn btn-danger float-right">Del</button>
                    </form>
                {{else}}
                    <button type="button" class="btn btn-success float-right comprar ml-2">
                        <div><i class="fa fa-shopping-cart"></i></div>
                    </button>
                    <button type="button" class="btn btn-success float-right">
                        <div>Comprar agora</div>
                    </button>
                {{/if}}
            </div>
        </div>
    {{else}}
        <h5 class="mt-5">Nenhum produto registrado</h5>
    {{/each}}
</div>
<style>
    .parent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .imgProd {
        min-height: 340px;
        max-height: 340px;
    }

    .slider{
        background-color: #ffffff;
        border-radius: 5px;

    }
    .slick-prev.slick-arrow:before, .slick-next.slick-arrow:before{
        color: black;
    }
    .sliderParent{
        padding: 10px;
    }
    .card{
        border: 1px solid orangered;
    }
    .categoriaslateral{
        float: left;
        width: 15%;
        height: 100%;
        background-color: white;
        border: 1px solid orangered;
        text-align: center;
    }
    .categoriaslateral .title{
        background-color: orangered;
        padding: 2% 25% 2% 25%;
        border-radius: 10px;
        color: white;


    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
        integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>

<link rel="stylesheet" href="slick/slick.css">
<link rel="stylesheet" href="slick/slick-theme.css">


<script src="slick/slick.js" type="text/javascript" charset="utf-8"></script>

<script>
    $('.center').slick({
        centerMode: true,
        centerPadding: '60px',
        slidesToShow: 3,
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    arrows: true,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 3
                }
            },
            {
                breakpoint: 480,
                settings: {
                    arrows: true,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                }
            }
        ]
    });
</script>